<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Playlist Cleaner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
    <h1>Spotify Playlist Cleaner</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-sucess alter-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
        
    <form id="main-form" method="post" action="{{ url_for('auth.home') }}">
        
        <label for="playlist">Select Playlist</label>
        <select id="playlist" name="playlist">
            <option value="" disabled selected>Select A Playlist</option>
            {% for playlist in playlists %}
                <option value="{{ playlist.id }}">{{ playlist.name }}</option>
            {% endfor %}
        </select>
            <button type="submit">Select Playlist</button>
        
        <label for="artistsToRemove">Artists to Remove:</label>
        <input type="text" id="artistsToRemove" name="artistsToRemove" value="">
        <div id="artistSuggestions" class="list-group-item"></div>
            <button type ="submit" name="action" value="add_artist">Add Artist</button>
    

        <label for="removeDuplications">Delete Any Duplicated Tracks:</label>
            <input type="checkbox" id = removeDuplications name="removeDuplications" value="yes">
        <label for="likedSongs">Exclude Liked Songs</label>
            <input type="checkbox" id = "likedSongs" name="likedSongs" value="yes">
        
    </form>

    <div class="preferences-list" id="prefrencesList">
        <h2>Preferences</h2>
        <div class="list-container">
            <ul class="list-group" id="artists">
                {% for artist in artists %}
                    <li class="list-group-item">{{ artist.name }}
                            <button type="button" class="close" onclick="deleteArtist({{ artist.id }})">X</button>
                        
                    </li>
                {% endfor %}
            </ul>
        </div>
        
        <form id="process" method="post" action="{{ url_for('auth.process_playlist') }}">
            <button type="submit" id="process_playlist">Process Playlist</button>
        </form>
    
    </div>
    <div class="tracks-list" id="tracks-list">
        <h2>Tracks To Be Removed</h2>
        <div class="list-container">
            <ul class = "list-group" id="tracks">
                {% for name, uri, artist in track_names %}
                <li class="list-group-item">{{ name }}: {{ artist }}
                    <input type="checkbox" name="track" value="{{ uri }}" data-name="{{ name }}">
                </li>
                {% endfor %}
            </ul>
        </div>
        
            <button type="submit" onclick="removeTrack()">Remove Selected Tracks</button>
        

                
    </div>

    <form id="confirm" method="post" action="{{ url_for('auth.confirm') }}" >
        <button type="submit" name="action">Confirm</button>
    </form>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>

    <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
