body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 8%, 93%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    max-width: 1000px;
    padding: 60px;
    background-color: #fff9f9;
    border-radius: 10px;
    
}
h1 {
    margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.login-button {
    background-color: #1DB954;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-color:#00d848;
    transition: background-color 0.3s ease;
}
.login-button:hover {
    background-color: #1bb34d;
}